/* Fontawesome 4.7 */
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

.loading {
    /* border: 1px solid #000; */
    padding: 0 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* 자식요소에도 absolute가 있으면 부모요소에 relative가 있다고 봄 */
    overflow: hidden;
}
.loading span {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    animation: dots 1s linear infinite;
}
.loading span:nth-child(1) {
    background-color: brown;
    animation-delay: 0s;
}
.loading span:nth-child(2) {
    background-color: red;
    animation-delay: 0.1s;
}
.loading span:nth-child(3) {
    background-color: gold;
    animation-delay: 0.2s;
}
.loading span:nth-child(4) {
    background-color: navy;
    animation-delay: 0.3s;
}
.loading span:nth-child(5) {
    background-color: black;
    animation-delay: 0.4s;
}

.loading .fa {
    transform: rotate(45deg);
    color: #999;
    font-size: 1.4em;
    position: absolute;
    top: 2;
    left: -30px;
    /* 시작지점 끝지점을 테스팅한 후 키프레임 작성하기 */
    animation: plane 1s linear infinite;
}

@keyframes dots {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 1;
        transform: scale(1.3);
    }
    60% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes plane {
    0%{
        left: -30px;
    }
    100%{
        left: 110%;
    }
}