/* XEION CDN */
@import url('http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.container {
    /* border: 5px solid red; */
    position: absolute;
    width: calc(100% - 40px);
    height: calc(100vh - 40px);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}

.front,
.back {
    /* border: 1px solid #000; */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* Centering */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10em;
}
.front {
    z-index: 1;
}
.back {
    z-index: 0;
}
.front img,
.back img {
    width: inherit;
    height: inherit;
    object-fit: cover;
    /* 부모요소에 가로 세로 너비 값이 있어야 사용 가능 */
}

/* Icon */
.open-navi,
.close-navi {
    background-color: #000;
    color: #fff;
    position: absolute;
    z-index: 2;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 1.5em;
    cursor: pointer;
    transition: 0.5s;
}
.open-navi {
    left: 0;
}
.open-navi.active {
    left: -40px;
}
.close-navi {
    right: -40px;
}
.close-navi.active {
    right: 0;
}