/* Google Web Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* XEION CDN */
@import url('http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css');

body {
    font-family: 'Roboto', sans-serif;
    background: url(images/svg-background.svg);
    /* background-color: red; */
    /* background: linear-gradient(to top, red, blue); */
    color: #333;
    font-size: 15px;
    line-height: 1.6em;
    margin: 0;
    height: 100vh;
}
a {
    text-decoration: none;
}

/* Profile Card Dark Mode */
.frame {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
}
.profile {
    width: 320px;
    padding: 50px 30px;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 7px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    text-align: center;
    position: relative;
    display: inline-block;
    margin: 20px;
    transition: 0.5s;
}
.face img {
    width: 120px;
}

.face {
    width: 120px;
    height: 120px;
    /* margin: auto; */
    display: inline-block;
    position: relative;
}
.face img {
    border-radius: 50%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
.face i {
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-size: 20px;
    background-color: deepskyblue;
    border-radius: 50%;
    color: #fff;
}

.profile h1 {
    font-size: 26px;
    font-weight: normal;
    line-height: 1.2em;
    margin-bottom: 0;
}
.profile h1 span {
    display: block;
    font-size: 14px;
    color: #bbb;
    text-transform: uppercase;
    /* margin-top: 10px; */
}
.profile p {
    margin-top: 5px;
    margin-bottom: 10px;
}
.profile p span {
    display: block;
    color: royalblue;
}

.view-portfolio {
    background-color: #00cec9;
    color: #fff;
    padding: 5px;
    border-radius: 30px;
    text-transform: capitalize;
    display: inline-block;
    width: 180px;
}

/* SNS */
.sns {
    border-top: 1px solid #eee;
    padding-top: 30px;
    margin-top: 30px;
}
.sns div {
    display: inline-block;
    width: 30%;
}
.sns div i {
    color: #fff;
    width: 70px;
    height: 70px;
    font-size: 2.5em;
    line-height: 70px;
    border-radius: 50%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}
.sns div span {
    font-size: 13px;
    color: #bbb;
}
.sns div span big {
    display: block;
    color: #333;
    font-size: 22px;
    font-weight: 500;
    margin-top: 10px;
}
.sns div:nth-child(1) i {
    background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%);
}
.sns div:nth-child(2) i {
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}
.sns div:nth-child(3) i {
    background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
}

/* Top Buttons */
.btn-mode,
.like-more {
    font-size: 18px;
}
.btn-mode {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: pointer;
}
.btn-mode::before {
    content: "\eb0f";
    font-family: xeicon;
}
.like-more {
    position: absolute;
    top: 20px;
    right: 20px;
}
.btn-like {
    width: 20px;
    height: 20px;
    display: inline-block;
    cursor: pointer;
}
.btn-like::before {
    content: '\ea11';
    font-family: xeicon;
}
.btn-like.active::before {
    content: '\ea10';
}
.btn-more {
    cursor: pointer;
}

/* Dark Mode CSS */
.profile.dark {
    background-color: #323650;
}
.profile.dark .btn-mode,
.profile.dark .like-more {
    font-size: 18px;
    color: #fff;
}
.profile.dark h1 {
    color: #fff;
}
.profile.dark p {
    color: #fff;
}
.profile.dark .sns {
    border-top: 1px solid #555;
}
.profile.dark .sns div span big {
    color: #fff;
}
.profile.dark .btn-mode::before {
    content: "\eba3";
}



