/* Google Web Font */
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

* {
    font-family: 'Raleway', sans-serif;
}

body {
    font-size: 15px;
    margin: 0;
    line-height: 1.5em;
    color: #222;
    background: url(images/background.jpg) no-repeat center center fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
body:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}
a {
    text-decoration: none;
    color: #222;
}

/* Animation Validate Login Form */
.login {
    position: relative;
    text-align: center;
    width: 400px;
    padding: 50px;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 25px 40px rgba(0, 0, 0, 0.1);
    color: #fff;
}
.login img {
    width: 100px;
}
.login h1 {
    font-size: 2em;
}
.input-field {
    position: relative;
}
.input-field input {
    width: 100%;
    padding: 10px 0;
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid #eee;
    margin: 20px 0;
    color: #fff;
    font-size: 18px;
}
.input-field span {
    position: absolute;
    left: 0;
    top: 30px;
    pointer-events: none;
    transition: .5s;
}
.button-field input {
    background-color: yellowgreen;
    color: #fff;
    border: none;
    text-transform: uppercase;
    font-size: 18px;
    padding: 10px;
    width: 100%;
    border-radius: 30px;
    margin-top: 20px;
    cursor: pointer;
}
.add-info {
    overflow: hidden;
    margin-top: 30px;
}
.add-info label {
    float: left;
    cursor: pointer;
    color: #ccc;

}
.add-info a {
    float: right;
    color: #ccc;
}
.add-info a:hover {
    text-decoration: underline;
}

/* Input Field */
.input-field input:focus + span,
.input-field input:valid + span {
    top: 0;
    /* transform: translateY(-30px); */
    font-size: 12px;
    color: royalblue;
    font-weight: bold;
}

.input-field span.warning {
    color: crimson !important;
    animation: warning 0.3s ease-in-out 2;
}
@keyframes warning {
    0%, 100% {
        transform: translateX(-5px);
    }
    25% {
        transform: translateX(5px);
    }
    50% {
        transform: translateX(-5px);
    }
    75% {
        transform: translateX(5px);
    }
}

/* Custom Checkbox */
/* .add-info label input[type=checkbox] {} */
#save-email {
    display: none;
}
/* .add-info label em {} */
#save-email + em {
    width: 18px;
    height: 18px;
    display: inline-block;
    margin-right: 5px;
    /* vertical-align: middle;
    margin-top: -2px; */
    transform: translateY(4px);
    background-image: url(images/icon-checkbox.png);
    background-position: left;
}
#save-email:checked + em {
    background-position: right;
}
#save-email:checked + em + span {
    color: #1bbe93;
}