/* Google Web Fonts CDN */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700,900&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
    outline: none;
}

body {
    font-size: 14px;
    background-color: #F5F6F7;
    line-height: 1.5em;
    color: #222;
    font-weight: 300;
    margin: 0;
}
a {
    text-decoration: none;
    color: #222;
}

/* Reset CSS */
input, select {
    cursor: pointer;
}

/* Member Sign in */
.member {
    width: 460px;
    margin: auto;
    padding: 0 20px;
    margin-bottom: 20px;
}
.member .logo {
    display: block;
    margin: 50px auto;
}
.field {
    margin: 5px 0;
}
.field b {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}
.member input:not(input[type=radio]), .field select {
    border: 1px solid #dadada;
    padding: 15px;
    width: 100%;
    margin-bottom: 5px;
}
.member input[type=button],
.member input[type=submit] {
    background-color: #2DB400;
    color: #fff;
}
.member input:not(input[type=radio]):focus, .field select:focus {
    border: 1px solid #2DB400;
}
.field.birth div {
    display: flex;
    gap: 10px;
}
/* .field.birth div > * {
    flex: 1;
} */
.field.tel-number div {
    display: flex;
    gap: 10px;
    margin: 5px 0;
}
.field.tel-number div input:nth-child(1) {
    flex: 2;
}
.field.tel-number div input:nth-child(2) {
    flex: 1;
}
.field.gender div {
    border: 1px solid #dadada;
    background-color: #fff;
    padding: 15px 5px;
}

.placehold-text {
    display: block;
    position: relative;
}
.placehold-text:before {
    content: '@naver.com';
    position: absolute;
    right: 20px;
    top: 14px;
    pointer-events: none;
}

.userpw {
    background: #fff url(images/icon-01.png) no-repeat center right 15px;
    background-size: 20px;
}.userpw-confirm {
    background: #fff url(images/icon-02.png) no-repeat center right 15px;
    background-size: 20px;
}

.member-footer {
    text-align: center;
    font-size: 12px;
    margin-top: 20px;
}
.member-footer div a:nth-of-type(2) {
    font-weight: 500;
}
.member-footer a:hover {
    text-decoration: underline;
    color: #2DB400;
}
.member-footer div a::after {
    content: '|';
    font-size: 10px;
    color: #bbb;
    margin-right: 5px;
    padding-left: 7px;
    display: inline-block;
    transform: translateY(-2px);
}
.member-footer div a:last-child:after {
    display: none;
}

/* Checked Radio Button */
.field.gender input[name=gender] {
    display: none;
}
.field.gender label {
    cursor: pointer;
    margin-right: 5px;
}
.field.gender label em {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-right: 3px;
    transform: translateY(3px);
    /* vertical-align: middle;
    margin-top: -2px; */
    background: url(images/icon-radio.png) no-repeat;
    background-position: left;
}
.field.gender input[name=gender]:checked + em {
    background-position: right;
}

/* Custom Select & Custom Number */
select {
    -webkit-appearance: none; /* 벤더 프리픽스 */ 
    -moz-appearance: none;
    appearance: none;
    background: #fff url(images/icon-select.png) no-repeat center right 20px; 
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
input[type=number] {
    -moz-appearance: textfield;
}

/* input type number custom css style */

@media (max-width:768px) {
    .member {
        width: 100%;
    }
}