/* Google Web Font */
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500&display=swap');

/* Fontawesome 4.7 */
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

*  {
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0;
    line-height: 1.6em;
    color: #222;
    font-size: 18px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    background-color: #222;
}
a {
    text-decoration: none;
    color: #222;
}
h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    margin: 0;
}

/* Sound Control */
.buttons {
    margin-top: 30px;
}
.buttons button {
    width: 130px;
    border: none;
    height: 50px;
    font-size: 18px;
    background-color: cornflowerblue;
    color: #fff;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
}