/* Google Web Fonts CDN */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700,900&display=swap');

/* Fontawesome 4.7 */
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

/* Noonnu Korean Fonts */
@font-face {
    font-family: 'GmarketSansLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 1.5em;
    margin: 0;
}
.heading {
    font-family: 'GmarketSansLight';
    font-size: 66px;
    text-align: center;
    font-weight: normal;
    line-height: 1.5em;
    margin-bottom: 0;
}
.heading span {
    color: deeppink;
}

/* Shopping Mall UI Items */
.items-inner {
    width: 1350px;
    margin: auto;
}
.items {
    display: flex;
    gap: 20px;
    counter-reset: item;
}
.item {
    flex: 1;
    position: relative;
}
.item:hover::before {
    background-color: crimson;
}
.item:before {
    content: counter(item);
    counter-increment: item;
    position: absolute;
    width: 45px;
    height: 45px;
    background-color: gray;
    z-index: 10;
    border-radius: 0 0 10px 0;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    line-height: 45px;
}

.photo {
    position: relative;
    height: 390px;
}
.photo a {}
.photo a img {
    width: 100%;
    position: absolute;
    /* z-index: 0; */
    transition: 0.5s;
}
.photo a img:first-child {
    z-index: 1;
}
.photo a img:last-child {}
.photo:hover a img:first-child {
    opacity: 0;
}

.detail {
    position: relative;
}
.detail span {
    display: block;
}
.detail .price b {
    color: crimson;
    margin-right: 10px;
}
.detail .name {
    font-weight: 400;
}
.detail .count {
    color: #777;
}
.detail .like {
    position: absolute;
    width: 20px;
    height: 20px;
    right: 5px;
    top: 5px;
    cursor: pointer;
}
.detail .like:before {
    content:"\f08a";
    font-family: fontawesome;
    font-size: 18px;
    color: #999;
}
.detail .like.active:before {
    content:"\f004";
    color :crimson
}