/* Google Web Font */
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500&display=swap');

/* Fontawesome 4.7 */
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    line-height: 1.6em;
    color: #222;
    font-size: 15px;
    background-color: #fafafa;
    background-color: #f4f4f4;
    background-color: #f8f8f8;
}
a {
    text-decoration: none;
    color: #222;
}
h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
}

/* Section Card UI - Web hosting Service */
.content {
    width: 1100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.content h1 {
    font-size: 3em;
    letter-spacing: -1px;
    margin-bottom: 50px;
}
.items {}
.item {
    display: inline-block;
    width: 340px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
    color: #fff;
    padding: 50px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    transition: 0.35s;
}
.item:hover {
    transform: scale(1.05);
}
.item::before { /* before는 inline요소이기 때문에 absolute를 줄 것 */
    content: '';
    position: absolute;
    background-color: rgba(255, 255, 255, 0.25);
    width: 100%;
    height: 44%;
    left: 0;
    bottom: 0;
    transform: rotate(-10deg) scale(1.25);
    /* z-index: -1; */
}
.item:nth-child(1) {
    background-image: linear-gradient(-45deg, #00c6fb 0%, #005bea 100%);
}
.item:nth-child(2) {
    background-image: linear-gradient(-45deg, #fa709a 0%, #fee140 100%);
}
.item:nth-child(3) {
    background-image: linear-gradient(-45deg, #c471f5 0%, #fa71cd 100%);
}

.item > .fa {
    font-size: 60px;
    width: 100px;
    height: 100px;
    line-height: 100px;
    border-radius: 50%;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.15);
}
.item:nth-child(1) > .fa {
    
    background-image: linear-gradient(45deg, #00c6fb 0%, #005bea 100%);
}
.item:nth-child(2) > .fa {
    background-image: linear-gradient(45deg, #fa709a 0%, #fee140 100%);
}
.item:nth-child(3) > .fa {
    background-image: linear-gradient(45deg, #c471f5 0%, #fa71cd 100%);
}
.item h3 {
    font-size: 28px;
}
.item h2 {
    font-size: 40px;
}
.item ul {
    list-style: none;
    padding: 0;
    position: relative;
}
.btn-order {
    background-color: #fff;
    display: inline-block;
    width: 130px;
    padding: 7px;
    border-radius: 30px;
    transition: 0.35s;
    margin-top: 20px;
    position: relative;
}
.btn-order:hover {
    background-color: #000;
    color: #fff;
}